@page "/ListadoDetalle"

@using BlazorApp1.Data

@inject DetallesServicies Service

<h3>Listado de detalles </h3>

<p>This component demonstrates fetching data from a service.</p>

@if (Service == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>idDetalle</th>
                <th>Fecha de entrega</th>
                <th>Tiempo que lleva</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in detalle)
            {
                <tr>
                    <td>@forecast.idDetalle</td>
                    <td>@forecast.fecha</td>
                    <td>@forecast.tiempo</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Detalles> detalle;

    protected override async Task OnInitializedAsync()
    {
        detalle = await Service.ListaDetalle();
    }
}
