@page "/ListadoTareas"
@using BlazorApp1.Data

@inject TareasServicies Service

<h3>Listado de Tareas</h3>

<p>This component demonstrates fetching data from a service.</p>

@if (Service == null)
{
   
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>idTarea</th>
                <th>Titulo</th>
                <th>Fecha finalizacion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in tarea)
            {
            <tr>
                <td>@forecast.idTarea</td>
                <td>@forecast.titulo</td>
                <td>@forecast.vencimiento</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Tareas> tarea;

    protected override async Task OnInitializedAsync()
    {
        tarea = await Service.ListaTareas();
    }
}

