@page "/ListadoUsuarios"
@using BlazorApp1
<h3>Listado de Usuarios</h3>

@using BlazorApp1.Data
@inject UsuarioServicies Service

<p>This component demonstrates fetching data from a service.</p>

@if (Service == null)
{
  
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>idUsuario</th>
                <th>Nombre y Apellido</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in usuarios)
            {
            <tr>
                <td>@forecast.codigo</td>
                <td>@forecast.nombre</td>
                <td>@forecast.clave</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Usuarios> usuarios;

    protected override async Task OnInitializedAsync()
    {
        usuarios = await Service.ListaUsuarios();
    }
}


